#colapsemenu{float: left;}
.navbar-wrapper{  }
.navbar{border: 0px solid black; margin-bottom: 0;}
.navbar-default{ background-color: #142655;}
.navbar-default .container{ background-color: #142655; }
.navbar-enlace{color: #fff !important; font-family: Helvetica, arial !important; padding: 15px 15px !important;}
.navbar-enlace:hover, .navbar-enlace:focus, .navbar-element.active .navbar-enlace, .navbar-toggle:focus, .navbar-toggle:hover{ color: white !important; background-color: #010e2d !important; }

.searchform{ margin: 8px 0;}
.searchform-group{margin: 0 !important;}
.searchResults{position: absolute; z-index: 10; background-color: #fff; margin-top: 10px; right: 8.33%;  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);  border-radius: 8px;  padding-bottom: 20px; display: none; }
.searchResults-show{display: block !important;}
.searchItem{margin-bottom: 15px;  padding-bottom: 15px;  border-bottom: 1px solid #ccc;}
.searchCloseLink{position: absolute;  right: 15px;  top: 10px;  color: #ccc;  font-size: 25px;}
.searchUrl{ color: #006600; }
.searchSpip{ color: #000;}
.searchInput { height: 34px;  padding: 9px 9px;  font-size: 16px; box-shadow: inset 0 0px 5px rgba(0, 0, 0, .5); border-radius: 16px;}
.searchBtn{padding: 5px 12px;  font-size: 16px; border-radius: 16px;}
.cl_base_vNav{ word-wrap: break-word; }

.pageSection{ margin-bottom: 15px; padding-top: 15px;}
.pageSection-title1{ margin: 0;}

.pageSection-noticias{ background-color: #f2f2f2; margin-top: 10px;}
.noticias-title{ margin-bottom: 15px; }

.pageSection-uv{ font-size: 28px; font-weight: 200; color: #00789c; background-image:url('../images/b1.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment:fixed;  margin-top: 20px; padding-bottom: 15px;}
.uv-title{ color: #342b4e; font-size: 36px; margin-top: 0;}
.uv-col{ padding-top: 3px; padding-bottom: 15px;}
.uv-parrafo{ margin: 0;}
.uv-btn{background-color: #342b4e; border-color: #342b4e;}
.uv-btn:hover{background-color: #00789c; border-color: #00789c;}

.pageSection-cuid{ font-size: 24px; font-weight: 200; color: #fff; background-image:url('../images/cuidback.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment:fixed;  margin-top: 20px; padding-bottom: 15px;}
.cuid-title{ color: #095087; font-size: 28px; margin-top: 0;}
.cuid-col{ padding-top: 3px; padding-bottom: 15px;}
.cuid-parrafo{ margin: 0; }
.cuid-btn{background-color: #095087; border-color: #342b4e;}
.cuid-btn:hover{background-color: #00789c; border-color: #00789c;}

.pageSection-adicional{ background-color: #f2f2f2; padding-bottom: 15px;}
.adicional-box{ display: block; background-color: white; padding: 10px; margin-top: 10px; margin-bottom: 10px; border-radius: 5px;}
.adicional-box-53{ padding-top: 53px; padding-bottom: 53px;}
.adicional-box-23{ padding-top: 23px; padding-bottom: 23px;}

.about-body{ background-repeat:no-repeat; background-attachment:fixed; background-size: cover; background-position: center center;}

.big-link{
	display: block; 
	font-size: 1em; 
	padding-top: 15px; 
	padding-bottom: 15px; 
	background-color: #fff;
	color: #555;
	font-weight: normal; 
	background: -moz-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(194,194,194,0.8) 100%); /* FF3.6-15 */ 
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.8) 0%,rgba(194,194,194,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(194,194,194,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=1 ); /* IE6-9 */
	z-index: 99;
	border-bottom: 1px solid #c2c2c2;
}
.big-link-ico{ margin-bottom: 15px; margin-left: auto; margin-right: auto; display: block;}
.big-link:hover,.big-link-ico:hover{ text-decoration: none; color: black;}
.big-link-row{margin-top: -120px; z-index: 10}
.big-link-p{ margin: 0; }

.lateral-submenu{ margin-left: 0; list-style: none; margin-top: 30px; }
.lateral-submenu-link{color: white; font-size: 16px; font-weight: normal; padding: 5px; display: block;}
.lateral-submenu-toggle{ color: white !important;}
.lateral-submenu-link:hover, .lateral-submenu-active, .lateral-submenu-toggle:hover, .lateral-submenu-toggle:focus, .lateral-submenu-toggle.active{ background-color: rgba(255, 255, 255, 0.15) !important; color: white !important;}

.content-row{margin-top: 300px; background-color: rgba(0, 0, 0, 0.5);}
.content-col{ background-color: #fff; padding-top: 15px;  padding-bottom: 15px;}
.content-title{ margin: 0; font-weight: 300; font-size: 30px;}

.bottom-img{ border: 1px solid #f2f2f2; }

.footer-link{ color: white;}
.footer-container{background-color:#353942; color:white; margin-bottom: 0 !important;}

#blur-top{ background-color: rgba(0, 0, 0, 0.5); color: white; }
#blur-top a{ color: white; }

@media (min-width: 768px){
	.searchResults{ max-height: 500px; overflow: auto; }
	.pageSection-cuid{ padding-top: 44px; padding-bottom: 44px; }
}

@media (max-width: 1199px){
	
	#colapsemenu { float: none;}
}

@media (max-width: 991px) {
	
	.cuid-parrafo{ font-size: 18px;}
	
	.cuid-logo{ margin-top: 30px; }
}

@media (max-width: 800px){
	.big-link-row{ margin-top: 0;}
	.content-row{margin-top: 50px; }
	
}

@media (min-width: 768px) and (max-width: 991px) {
	.searchResults{ margin-top: 10px; left: 16.67%;}
	.input-group-btn{ width: 40px !important;}
}

@media (max-width: 767px) {
	.footer-copyr{text-align: center;}
	.footer-col{ padding-left: 20%;}
	
	.navbar-default{height: 104px;}
	
	.searchResults{ margin-top: 10px; left: 0; right: 0;}
	
	.content-row{margin-top: 0; }
	
	.lateral-submenu{margin-top: 0; }
	
	.cuid-logo{ margin-top: 10px; margin-bottom: 10px; margin-left: -50px; }
	.cuid-img{ margin-left: -50px; }
	
}

@media (min-width: 768px) and (max-width: 1199px){
	.searchform{ width: 100%;   margin: 0;  float: none; padding: 10px;}
	.searchform-group, .searchform-group .input-group{width: 100%;}
}